table {
    width: 90%;
    border: 3px solid black;
    border-collapse: collapse;
}

.TableMain {   
    margin-left: 5%;
    margin-right: 5%;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
  }

td {
    text-align: center;
    vertical-align: middle;
    border: 3px solid black;
    border-collapse: collapse;
}

th {
    background-color: black;
    height: 40px;
    color: rgb(255, 255, 255);
    border: 3px solid black;
    border-collapse: collapse;
    
}
