table {
    width: 100%;
}

.TableMain {   
    margin-left: auto;
    margin-right: auto;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
  }

td {
    text-align: center;
    vertical-align: middle;
}

th {
    background-color: black;
    height: 40px;
    color: rgb(255, 255, 255);
    
}
